@{
    ViewData["Title"] = "Order Food Online";
}

<div class="main-content home-page">
    <div class="content-left">
        <h2>Are you Hungry?</h2>
        <h1>Don't Wait!</h1>
        <p>Let's start order food now</p>
        <a href="@Url.Action("Menu", "Home")" class="cta-button">Check Menu</a>
    </div>

    <div class="logo-circle">
        <div class="circle-bg">
            <div class="logo-design">
                <img src="~/Images/amaals kitchen.jpg" alt="Amaals Kitchen Logo" class="logo-image">
            </div>
        </div>
    </div>
</div>